{
  "extends": "canonical",
  "rules": {
    "arrow-parens": 0,
    "arrow-body-style": 0,
    "babel/arrow-parens": 0,
    "babel/object-curly-spacing": 0,
    "comma-dangle": 0,
    "complexity": 0,
    "computed-property-spacing": 0,
    "func-style": 0,
    "id-length": 0,
    "init-declarations": 0,
    "max-len": 0,
    "newline-after-var": 0,
    "newline-before-return": 0,
    "no-console": 0,
    "no-param-reassign": 0,
    "no-process-env": 0,
    "no-process-exit": 0,
    "no-restricted-syntax": 0,
    "no-shadow": 0,
    "no-use-before-define": 0,
    "object-curly-spacing": 0,
    "object-property-newline": 0,
    "operator-linebreak": 0,
    "sort-keys": 0,
    "space-before-function-paren": 0,
    "space-in-parens": 0,
  }
}
